@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 44 58 219;
  --color-secondary: 61 113 209;
  --color-accent: 245 245 255;
}

@font-face {
  font-family: "Recoleta";
  src: url("/webfonts/recoleta-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}